.pitanje, .kviz, .kategorija, .opis{
    border: 2px solid white;
    margin-bottom: 50px;
}
.naziv, .naslov, .nazivKategorije{
    font-size:24px;
}

.pripadaKvizu, .opisKviza, .opisPitanja{
    font-size: 20px;
}

.kategorijaKviza{
    font-size: 17px;
    font-style: italic;
    text-decoration: underline;
}
.body{
    text-align: center;
}
