{% extends "base_generic.html" %}
{% load bootstrap %}
{% block content %}
<br>
<h2> Kvizovi </h2>
<br>
<a href="{% url 'main:create_kviz' %} " class="btn btn-success">Create Quiz</a>
<br>
<br>
<form method="get">
    {{ filter.form|bootstrap }}
    <button type="submit" class="btn btn-info">Search</button>
</form>
{% for kviz in filter.qs %}
    <div class="kviz">
        <p><strong>Naslov Kviza: </strong> <span class="naslov"> {{ kviz.naziv }}</span></p>
        <p><strong>Opis Kviza:</strong> <span class="opisKviza">{{ kviz.opisKviza }}</span></p>
        
            <p><strong>Kategorije Kviza: </strong> 
                {% for kategorija in kviz.kategorija.all %}
                    <span class="kategorijaKviza">{{kategorija}}</span>
                    {% endfor %}
                
            </p>
            <a href="{% url 'main:update_kviz' kviz.id %}" class="btn btn-primary"> Update</a>
            <a href="{% url 'main:delete_kviz' kviz.id %}" class="btn btn-danger"> Delete</a>
    </div>
{% endfor %}
{% endblock %}
