{% extends "base_generic.html" %}
{% load bootstrap %}
{% block content %}
<div class="nav d-flex flex-column align-items-center">
    <br>
    <h2> Opisi Pitanja </h2>
    <br>
    <a href="{% url 'main:create_opis' %}" class="btn btn-success">Create Desc</a>
    <br>
    <br>
</div>

<div class="nav d-flex flex-column align-items-center">
    <form method="get" >
        {{ filter.form|bootstrap }}
        <button type="submit" class="btn btn-info">Search</button>
    </form>
</div>
{% for opis in filter.qs %}
    <div class="opis">
        <p><strong>Opis Pitanja: </strong> <span class="opisPitanja">{{ opis.tekst }}</span></p>
        <a href="{% url 'main:update_opis' opis.id %}" class="btn btn-primary"> Update</a>
        <a href="{% url 'main:delete_opis' opis.id %}" class="btn btn-danger"> Delete</a>
    </div>
{% endfor %}
{% endblock %}