{% extends "base_generic.html" %}
{% load bootstrap %}
{% block content %}
<div class="nav d-flex flex-column align-items-center">
    <br>
    <h2> Pitanja </h2>
    <br>
    <a href="{% url 'main:create_pitanje' %}" class="btn btn-success">Create Question</a>
    <br>
    <br>
</div>

<div class="nav d-flex flex-column align-items-center">
    <form method="get"  >
        {{ filter.form|bootstrap }}
        <button type="submit" class="btn btn-info">Search</button>
    </form>
</div>
{% for pitanje in filter.qs %}
    <div class="pitanje">
        <p><strong>Naziv Pitanja:</strong> <span class="naziv">{{ pitanje.naziv }}</span></p>
        <p><strong>Pripada Kvizu: </strong>  <span class="pripadaKvizu"> {{ pitanje.kviz }}</span><p>
        <p><strong>Opis Pitanja:</strong> {{ pitanje.opis }}</p>
        <h4>Odgovori</h4>
        <ol>
            <li>)   {{ pitanje.odgovor1 }}</li>
            <li>)   {{ pitanje.odgovor2 }}</li>
            <li>)   {{ pitanje.odgovor3 }}</li>
            <li>)   {{ pitanje.odgovor4 }}</li>
        </ol>
        <p><strong>Tocan odgovor: </strong>{{ pitanje.tocan }}</p>
        <p><strong>Hint: </strong>{{ pitanje.savjet }}</p>

        <a href="{% url 'main:update_pitanje' pitanje.id %}" class="btn btn-primary"> Update</a>
        <a href="{% url 'main:delete_pitanje' pitanje.id %}" class="btn btn-danger"> Delete</a>
    </div>
{% endfor %}
{% endblock %}