{% extends "base_generic.html" %}
{% block content %}
<br>
<h2> Pitanja </h2>
<br>
{% for pitanje in pitanje_list %}
    <div class="pitanje">
        <p><strong>Naziv Pitanja:</strong> <span class="naziv">{{ pitanje.naziv }}</span></p>
        <p><strong>Pripada Kvizu: </strong>  <span class="pripadaKvizu">{{ pitanje.kviz }}</span><p>
        <p><strong>Opis Pitanja:</strong> {{ pitanje.opis }}</p>
        <h4>Odgovori</h4>
        <ol>
            <li>)   {{ pitanje.odgovor1 }}</li>
            <li>)   {{ pitanje.odgovor2 }}</li>
            <li>)   {{ pitanje.odgovor3 }}</li>
            <li>)   {{ pitanje.odgovor4 }}</li>
        </ol>
        <p><strong>Tocan odgovor: </strong>{{ pitanje.tocan }}</p>
        <p><strong>Hint: </strong>{{ pitanje.savjet }}</p>

    </div>
{% endfor %}
{% endblock %}